.desktop {
  .info {
    text-shadow: $text-shadow;
    @include date($size: 10rem);

    label {
      color: $bg-color;
    }

    .clock {
      .timebox {

        box {
          background-color: $bg-color;
        }
      }
    }
  }
}