.overview {
  .widget {
    @include floating-widget;

    .workspace {
      @include button($radius: $button-radius);

      .indicator {
        padding: 2px;
        margin: .4rem 3rem;
        background-color: $accent;
        border-radius: $radius;
      }

      .window {
        @include button($radius: $button-radius);
      }

      .icon {
        @include image($size: 2.2rem)
      }
    }
  }
}