$primary: #85468d;
$onPrimary: #ffffff;
$primaryContainer: #ffd5ff;
$onPrimaryContainer: #350040;
$secondary: #6b586b;
$onSecondary: #ffffff;
$secondaryContainer: #f4dbf1;
$onSecondaryContainer: #251626;
$tertiary: #82524a;
$onTertiary: #ffffff;
$tertiaryContainer: #ffdad2;
$onTertiaryContainer: #33110c;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$background: #fcfcfc;
$onBackground: #1e1a1d;
$surface: #fcfcfc;
$onSurface: #1e1a1d;
$surfaceVariant: #ecdee8;
$onSurfaceVariant: #4d444c;
$outline: #7e747c;
$shadow: #000000;
$inverseSurface: #332f32;
$inverseOnSurface: #f7eef3;
$inversePrimary: #f7adfc;