$theme: dark;

$bg-color:  if($theme== light, #f0f0f0, #0f0f0f);
$fg-color:  if($theme== light, #0f0f0f, #f0f0f0);
$red:       if($theme== light, #da5858, #dd6777);
$green:     if($theme== light, #26a269, #9ec49f);
$yellow:    if($theme== light, #e8ca5e, #ceb188);
$blue:      if($theme== light, #497ee9, #6791c9);
$cyan:      if($theme== light, #5cd8e6, #9ec3c4);
$purple:    if($theme== light, #d56cc3, #c49ec4);
