@mixin button-active {
  box-shadow: inset 0 0 0 $border-width $border-color;
  background-image: $accent-gradient;

  label {
    color: $accent-fg;
  }
}

@mixin button($flat: false, $reactive: true, $focusable: true, $radius: $radius) {
  border-radius: $radius;
  color: $fg-color;

  @if $flat {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
  }

  @else {
    background-color: $button-bg;
    box-shadow: inset 0 0 0 $border-width $border-color;
  }

  @if $reactive {
    @if $focusable {
      &:focus {
        box-shadow: inset 0 0 0 $border-width $accent;
        background-color: $hover;
      }
    }

    &:hover {
      box-shadow: inset 0 0 0 $border-width $border-color;
      background-color: $hover;
    }

    &:active,
    &.active {
      @include button-active;
    }
  }
}