@mixin application($dock: false) {
  button {
    @include button;

    @if $dock {
      @include button($flat: true);
      padding: .5rem;
    }

    .icon {
      @include image($size: 4rem);

      @if $dock {
        @include image($size: 3.5rem);
      }
    }

    .name {
      font-size: 1.1rem;
      font-weight: 500;
    }

    .description {
      color: transparentize($fg-color, 0.2);
    }

  }
}