@mixin notification-center {
  min-width: 30rem;

  .header {
    font-size: 1.5rem;
    margin: 0 .5rem .5rem;

    .label {
      font-weight: bold;
    }

    .clear {
      @include button($flat: true);
      padding: .6rem .8rem;
      border-radius: 100%;
      font-size: 1.2rem;
    }
  }

  .notification-list {
    @include scrollbar;

    .notification {
      @include notification;

      .content {
        @include button;
      }
    }

    .empty {
      .bell {
        background-image: url($bell);
        @include image($size: 8rem);
      }

      .label {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem
      }
    }
  }
}