.info-center {
  .widget {
    @include floating-widget;

    .notification-center {
      @include notification-center;
    }

    .calendar {
      @include calendar;
    }

    .date {
      @include date($size: 5rem);
      margin-bottom: 5px;
    }

    .separator {
      background-color: transparentize($fg-color, 0.92);
      min-width: 2px;
      margin: 0 10px 0 2px;
    }

    .weather {
      @include widget;

      .current {
        .icon {
          font-size: 3rem;
          text-shadow: $text-shadow;
          margin-right: 10px;

          .scattered {
            color: $fg-color;

            @if $theme=='light' {
              color: $bg-color;
            }
          }

          .clear {
            color: $yellow;
          }

          .rain {
            color: $blue;
          }

          .few {
            color: $blue;
          }
        }

        .pin {
          font-size: 1rem;
          color: $blue;
        }

        .temp {
          font-size: 3rem;
          font-weight: bold;

          &.celcius {
            font-size: 2rem;
          }

        }

        .description {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .forecast {
        .i {
          .dt {
            color: transparentize($fg-color, 0.25);
            font-size: 13px;
            font-weight: 500;
          }

          .icon {
            @include image($size: 2.5rem);
          }

          .temp {
            font-weight: 500;
          }
        }
      }
    }
  }
}