@mixin powermenu-button($size: 5rem) {

  .poweroff,
  .reboot,
  .suspend,
  .exit {
    @include button;
    padding: $size/2;
    font-size: $size;
  }

  .poweroff {
    color: $red;
  }

  .reboot {
    color: $green;
  }

  .suspend {
    color: $blue;
  }

  .exit {
    color: $purple;
  }
}

.powermenu {
  background-color: transparentize($bg-color, 0.7);

  .widget {
    @include floating-widget;
    @include powermenu-button;
  }
}