@mixin player {
  .artwork {
    @include image($cover: true);
    border-radius: $radius;
    box-shadow: 2px 0 3px 0 $shadow;
    text-shadow: $text-shadow;
    color: white;

    .info {
      padding: 1rem;

      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .artist,
      .album {
        font-size: 1.1rem;
      }
    }

    .progress {
      @include slider;

      trough {
        border-radius: 0;
        border: none;
        background-color: transparentize(white, 0.85);

        highlight,
        progress {
          border-radius: 0;
        }
      }

      &:hover trough {
        background-color: transparentize(white, 0.75);
      }
    }

    .bottom {
      margin: .8rem;

      .position {
        font-size: 1rem;
        font-weight: 500;
      }

      .icon {
        @include image;
      }

      .controls {

        .loop,
        .shuffle {
          color: $accent;
        }

        .toggle {
          font-size: 1.6rem;
        }

        .previous,
        .next,
        .loop,
        .shuffle {
          font-size: 1.3rem;
        }

        .disabled {
          color: transparentize(white, 0.5);
        }
      }
    }
  }

  .volume {
    padding: 1rem;

    .volume-scale {
      @include slider;
    }
  }
}

@mixin slider-color($color) {

  .progress trough,
  .volume-scale trough {

    highlight,
    progress {
      background-image: linear-gradient($color);
    }
  }
}