@mixin image($size: 1.5rem, $cover: false) {
  min-width: $size;
  min-height: $size;
  background-repeat: no-repeat;
  background-position: center;

  @if $cover {
    background-size: cover;
  }

  @else {
    background-size: contain;
  }

}