@mixin slider($drop-shadow: true, $width: 0.4rem, $color: $accent, $gradient: $accent-gradient, $slider: true, $focusable: true, $radius: $radius) {
  trough {
    transition: $transition;
    border-radius: $radius;
    border: $border;
    background-color: $button-bg;
    min-height: $width;
    min-width: $width;

    highlight,
    progress {
      border-radius: $radius;
      background-image: $gradient;
      min-height: $width;
      min-width: $width;
    }
  }

  slider {
    box-shadow: none;
    background-color: transparent;
    border: $border-width solid transparent;
    transition: $transition;
    border-radius: $radius;
    min-height: $width;
    min-width: $width;
    margin: -$width;
  }

  &:hover trough {
    background-color: $hover;

    slider {
      @if $slider {
        background-color: $fg-color;
        @if $theme == 'light' {
          background-color: $bg-color;
        }
        border-color: $border-color;

        @if $drop-shadow {
          box-shadow: 0 0 3px 0 $shadow;
        }
      }
    }
  }

  @if $focusable {
    trough:focus {
      background-color: $hover;
      box-shadow: inset 0 0 0 $border-width $color;

      highlight,
      progress {
        background-color: transparentize($color, 0.3);
      }

      slider {
        @if $slider {
          background-color: darken($color, 10);
          box-shadow: inset 0 0 0 $border-width $accent;
        }
      }
    }
  }
}
